/* CSS files add styling rules to your content */

#navigation {
  margin: 10px;
}

body {
  font-family: helvetica, arial, sans-serif;
  margin: 2em;
  background-color: #E5E5E5;
}

h1 {
  font-style: bold;
  color: #363636;
  text-align: center;
  margin-left: 0px;
  padding: 10px;
  font: courier, monospace;
}

h2 {
  font-style: regular;
  color: #7E1F00;
  margin-left: 10px;
  padding: 10px;
}

#content {
  background-color: #EDEDED;
  border-style: dotted;
  align: middle;
}

.button {
  background-color: #005C26;
}

a:hover{ background-color: white; font-size: 20px; }

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}
